# Config
necessary
springs
trouting

# Pytoch
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.13.1
torchdata==0.5.1

# Various data tools
py7zr>=0.19.0
beautifulsoup4>=4.11.1
lxml>=4.9.1
spacy==3.5.0

# Modeling
pytorch-lightning==1.9.2
torchmetrics==0.11.1
datasets[s3]==2.9.0
transformers==4.26.1

# Debugging and testing
ipdb>=0.13.9
ipython>=8.4.0
jupyterlab>=3.4.8

# Vizualization
gpustat>=1.0.0
gradio>=3.17.0
plotly>=5.13.0

# This enables using setuptools
pip>=23
setuptools>=65
pyopenssl>=23
