# Config
springs>=1.3.5

# Pytoch
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1
torchdata==0.4.1

# Various data tools
s3fs==2022.5.0
py7zr==0.19.0
beautifulsoup4==4.11.1
lxml==4.9.1
spacy==3.4.1
smashed>=0.2.0

# Modeling
pytorch-lightning==1.6.5
torchmetrics==0.9.3
datasets[s3]==2.4.0
transformers==4.20.1

# Debugging and testing
ipdb>=0.13.9
ipython>=8.4.0

# Vizualization
gpustat==0.6.0
gradio==3.1.1
plotly==5.9.0

# This enables using setuptools
pip>=22
setuptools>=65
